<mat-card class="card">
    <mat-card-content>
        <p>Value of Content one: <ng-content select=".content-one"></ng-content></p>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-content>
        <p>Value of Content two: <ng-content select=".content-two"></ng-content></p>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-content>
        <p>Value of Content three: <ng-content select="[content-three]"></ng-content></p>
    </mat-card-content>
</mat-card>
