<mat-nav-list class="content">
  <a mat-list-item [routerLink]="'/exercise/2'">Demonstrate two-way binding.</a>
  <a mat-list-item [routerLink]="'/exercise/3'">Retrieve mock data using HttpClient.</a>
  <a mat-list-item [routerLink]="'/exercise/4'">Demonstrate parent-child and child-parent interactions.</a>
  <a mat-list-item [routerLink]="'/exercise/5'">Demonstrate content projection with ng-content.</a>
  <a mat-list-item [routerLink]="'/exercise/6'">Using a structural directive render content conditionally (if possible, use ng-template).</a>
  <a mat-list-item [routerLink]="'/exercise/7'">Use ngIf and ngFor together, w/o adding more than one element to the DOM.</a>
  <a mat-list-item [routerLink]="'/exercise/8'">Create a directive that will give an element a random color everytime you load the page.</a>
  <a mat-list-item [routerLink]="'/exercise/9'">Example of dynamic routing.</a>
  <a mat-list-item [routerLink]="'/exercise/10'">Example of ngTemplateOutlet.</a>
  <a mat-list-item [routerLink]="'/exercise/11'">Reactive Forms example.</a>
  <a mat-list-item [routerLink]="'/exercise/12'">Example of ngSwitch.</a>
  <a mat-list-item [routerLink]="'/exercise/13'">Implement a custom pipe with PipeTransform.</a>
  <a mat-list-item [routerLink]="'/exercise/14'">Demonstrate a routing guard with CanActivate.</a>
  <a mat-list-item [routerLink]="'/exercise/15'">Demonstrate usage of rxjs operators pipe and map (ideally together).</a>
  <a mat-list-item [routerLink]="'/exercise/16'">Create a typeahead input that uses the rxjs operators debounceTime and distinctUntilChanged.</a>
  <a mat-list-item [routerLink]="'/exercise/17'">Demonstrate a use case for the forkJoin rxjs operator.</a>
  <a mat-list-item [routerLink]="'/exercise/19'">Create a typeahead input that uses rxjs switchMap.</a>
  <a mat-list-item [routerLink]="'/exercise/20'">Demonstrate use of rxjs combineLatest.</a>
  <a mat-list-item [routerLink]="'/exercise/21'">Demonstrate using rxjs take, first, last.</a>
  <a mat-list-item [routerLink]="'/exercise/22'">Demonstrate using rxjs takeUntil.</a>
  <a mat-list-item [routerLink]="'/exercise/24'">rxjs error handling: catchError.</a>
  <a mat-list-item [routerLink]="'/exercise/25'">rxjs error handling: handle error within subscription.</a>
  <a mat-list-item [routerLink]="'/exercise/26'">Example of async/await (instead of then with Promise).</a>
  <a mat-list-item [routerLink]="'/exercise/27'">Implement lazy loading for a feature module.</a>
  <a mat-list-item [routerLink]="'/exercise/28'">Example of ngrx to save state (ex: when navigating btw routes preserve a value in form).</a>
</mat-nav-list>
