<mat-nav-list>
  <a mat-list-item [routerLink]="'/exercise/2'">Demonstrate two-way binding.</a>
  <a mat-list-item [routerLink]="'/exercise/3'">Retrieve mock data using HttpClient.</a>
  <a mat-list-item [routerLink]="'/exercise/4'">Demonstrate parent-child and child-parent interactions.</a>
  <a mat-list-item [routerLink]="'/exercise/5'">Demonstrate content projection with ng-content.</a>
  <a mat-list-item [routerLink]="'/exercise/6'">Using a structural directive render content conditionally (if possible, use ng-template).</a>
  <a mat-list-item [routerLink]="'/exercise/7'">Use ngIf and ngFor together, w/o adding more than one element to the DOM.</a>
  <a mat-list-item [routerLink]="'/exercise/8'">Create a directive that will give an element a random color everytime you load the page.</a>
  <a mat-list-item [routerLink]="'/exercise/9'">Example of dynamic routing.</a>
  <a mat-list-item [routerLink]="'/exercise/10'">Example of ngTemplateOutlet.</a>
  <a mat-list-item [routerLink]="'/exercise/11'">Reactive Forms example.</a>
  <a mat-list-item [routerLink]="'/exercise/12'">Example of ngSwitch.</a>
  <a mat-list-item [routerLink]="'/exercise/13'">Implement a custom pipe with PipeTransform.</a>
  <a mat-list-item [routerLink]="'/exercise/14'">Demonstrate a routing guard with CanActivate.</a>
  <a mat-list-item [routerLink]="'/exercise/15'">Demonstrate usage of rxjs operators pipe and map (ideally together).</a>
  <a mat-list-item [routerLink]="'/exercise/16'">Create a typeahead input that uses the rxjs operators debounceTime and distinctUntilChanged.</a>
</mat-nav-list>
