<ul>
    <li>
      <h3>Demonstrate two-way binding.</h3>
      <a [routerLink]="'/exercise-2'">Solution</a>
    </li>
    <li>
      <h3>Retrieve mock data using HttpClient.</h3>
      <a [routerLink]="'/exercise-3'">Solution</a>
    </li>
    <li>
      <h3>Demonstrate parent-child and child-parent interactions.</h3>
      <a [routerLink]="'/exercise-4'">Solution</a>
    </li>
    <li>
      <h3>Demonstrate content projection with ng-content</h3>
      <a [routerLink]="'/exercise-5'">Solution</a>
    </li>
  </ul>
